body {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #262A2B;
    color: white;
}

li {
    margin-left:0px;
    margin-bottom:5px;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, footer, article {
    border-radius: 40px;
    max-width: 800px;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 35px;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

article {
    background-color: #181A1B;
}

article p {
    margin-left: 10px;
}

section {
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border: 2px solid #ffffff33;
}

section.datenmissbrauch {
    background: rgba(0, 0, 0, .75) url('images/vault.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 80%;
    position: relative;
}

section.datenverlust {
    background: rgba(0, 0, 0, .6) url('images/server.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 10%;
    position: relative;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
    
}

.infobox {
    border: 2px solid #3498db;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: #1d293166;
    border-radius: 10px;
}

.infobox ul {
    margin-top: 5px;
    list-style-type: disc;
    padding-inline-start: 20px;
}

.infobox ul li {
    margin-bottom: 5px;
}

.article-header {
    text-align: center;
    padding: 50px;
    background-image: url('images/orbit.jpg');
    background-size: cover;
    background-position: 50% 40%;
    /* background-position: 50% 30%; */
    color: white;
    border-radius: 20px;

}

.article-header h1 {
    margin: 0; /* Abstand um die Überschrift entfernen */
    font-size: 30px; /* Passen Sie die Schriftgröße nach Bedarf an */
}
