body {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: white;
}

li {
    margin-left: 0px;
    margin-bottom: 5px;
}

header, footer, article {
    border-radius: 40px;
    max-width: 800px;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}

footer {
    padding-bottom: 5px;
}

header {
    background-color: #333;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

header h1 {
    margin-left: 20px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 35px;
    margin-left: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

header nav ul li a:hover {
    background-color: #101010;
}

article {
    background-color: #101010;
}

article p {
    margin-left: 10px;
}

section {
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border: 2px solid #ffffff33;
}

.grafik_integrität {
    background: rgba(30, 30, 30, .75);
    background-blend-mode: darken;
    position: relative;

    border-radius: 20px;
    border: 2px solid #7f4e02;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;

    display: flex;

}

.material-symbols-outlined {
    /* transform: scale(2); */
    padding-left: 10px;
    padding-top: 10px;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}


.material-symbols-outlined.md-48 {
    font-size: 48px;
}


.explanation_box {
    border-radius: 18px;
    border: 2px solid rgb(var(--color));
    height: fit-content;
    display: flex;
    padding-right: 20px;
    margin-top: 20px;
    background-color: rgba(var(--color), .4)
}

.explanation_box:hover {
    background-color: rgba(var(--color), .5)
}

.icon_word_box {
    background: rgba(30, 30, 30, .75);
    background-blend-mode: darken;
    position: relative;

    border-radius: 20px;
    /* border: 2px solid #7f4e02; */
    --color: red;
    border: 2px solid rgb(var(--color));
    margin-top: 20px;
}

.icon_word_box_header {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom: 2px solid rgba(255, 255, 255, .4);
    height: fit-content;
    display: flex;
    padding-right: 20px;
    background-color: rgba(var(--color), .4)
}

.icon_word_box:hover {
    background: rgba(30, 30, 30, .9);
}

.icon_word_box:hover .icon_word_box_header {
    background: rgba(var(--color), .43);
}

.body_icon {
    font-family: 'Maven Pro', sans-serif;
    color: white;

    margin-left: 10px;
    margin-right: 10px;
}

.body_icon2 {
    font-family: 'Maven Pro', sans-serif;
    color: white;

    margin-left: 0px;
    margin-right: 10px;
}

section.datenmissbrauch:hover {
    background: rgba(30, 30, 30, .7);
    background-blend-mode: darken;
}

section.datenmissbrauch {
    background: rgba(0, 0, 0, .75) url('images/vault.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 80%;
    position: relative;
}

section.datenmissbrauch:hover {
    background: rgba(0, 0, 0, .7) url('images/vault.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 80%;
}

section.datenverlust {
    background: rgba(0, 0, 0, .6) url('images/server.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 10%;
    position: relative;
}


section.datenverlust:hover {
    background: rgba(0, 0, 0, .5) url('images/server.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 10%;
}

section.datenschutz {
    background: rgba(0, 0, 0, .8) url('images/files.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 40%;
    position: relative;
}


section.datenschutz:hover {
    background: rgba(0, 0, 0, .7) url('images/files.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 40%;
}

section.socialengineering {
    background: rgba(0, 0, 0, .8) url('images/training.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 10%;
    position: relative;
}

section.socialengineering:hover {
    background: rgba(0, 0, 0, .75) url('images/training.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 10%;
}

section.weiteres {
    background-color: rgba(52, 152, 219, .2);
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 10%;
    position: relative;
}

section.weiteres:hover {
    background-color: rgba(52, 152, 219, .25);
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 10%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
}

.infobox {
    border: 2px solid #3498db;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: #1d293166;
    border-radius: 10px;
}

.infobox ul {
    margin-top: 5px;
    list-style-type: disc;
    padding-inline-start: 20px;
}

.infobox ul li {
    margin-bottom: 5px;
}

.article-header {
    text-align: center;
    padding: 50px;
    background-image: url('images/orbit.jpg');
    background-size: cover;
    background-position: 50% 40%;
    /* background-position: 50% 30%; */
    color: white;
    border-radius: 20px;

}

header h1 {
    font-size: 30px;
}

.article-header h1 {
    margin: 0; /* Abstand um die Überschrift entfernen */
    font-size: 30px; /* Passen Sie die Schriftgröße nach Bedarf an */
}